<div id="connect">
	<div class="connect-scroller"><img src="/assets/scroller_connect.png" /></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Connect To Resources & Funding</h1>
			</div>
		</div>
	</div>
</div>