<div id="locate">
	<div class="locate-scroller"><img src="/assets/scroller_locate.png" /></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Locate Promising Practices</h1>
			</div>
		</div>
	</div>
</div>