<div id="share">
	<div class="share-scroller"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Connect To Resources & Funding</h1>
			</div>
		</div>
	</div>
</div>