<div id="index" class="container-fluid"></div>

<div id="home">
	<div class="container">
		<div class="row">
			<div class="home-text col-sm-12">
				<h1>Welcome to<br>DC Health Matters</h1>
				<h2>
					A one-stop resource for community health indicators and related resources<br>that impact the health of DC communities
				</h2>
			</div>
		</div>
		<a class="scroll-down" href="#header"><span>scroll down for...<br><i class="fa fa-chevron-down"></i></span></a>
	</div>
</div>

<%= render 'layouts/header' %>
<%= render 'main/data' %>
