<div id="index" class="container-fluid">
	<div class="row">
		<div class="index-text col-sm-12">
			<h1>Welcome to<br>DC Health Matters</h1>
			<h2>
				A one-stop resource for community health indicators and related resources<br>that impact the health of DC communities
			</h2>
		</div>
	</div>
</div>
