/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body h1, body h2, body h3, body h4, body h5, body p, body span, body a {
	font-family: 'Lato', sans-serif;
}


#header {
	position: relative;
	z-index: 500;

	.link-bar {
		z-index: 500;
		position: relative;
		text-align: right;
		background: #10a9da;

		ul {
			list-style-type: none;
			display: inline-block;
			margin: 0;

			li {
				display: inline-block;

				a {
					display: block;
					padding: 1em .5em;
					font-size: .9em;
					color: #fff;
					font-style: italic;
				}
			}
		}

		.search {
			display: inline-block;
			font-size: .9em;

			span {
				margin-left: 1em;
				color: #fff;
				font-style: italic;
			}

			input {
				border: 0;
				padding: .25em .5em;
				background: #8EDAF2;
			}

			i {
				color: #fff;
				padding: 0 .5em;
			}
		}

		.translate {
			display: inline-block;
			position: relative;

			.translate-button {
				color: #fff;
				text-transform: uppercase;
				padding: 0 1em;
				border: 0;
				background: #8EDAF2;
			}

			.dropdown-menu {
				position: absolute;
				display: none;
				top: 0;
				left: 0;
			}
		}

		.divider {
			margin: 0 1em;
			color: #1994BB;
		}
	}

	.status-bar {
		height: 4.5em;
		background: #fff;
		position: relative;
		z-index: 500;

		.logo-container {
			display: inline-block;

			h1 {
				float: left;
				margin: 0 0 0 .5em;
				font-size: 2.25em;
				line-height: 2em;
				font-weight: 300;
			}

			.logo {
				margin-top: -1.5em;
				height: 7.5em;
				float: left;
			}
		}

		.link-list {
			display: inline-block;
			height: 4.5em;
			float: right;
			vertical-align: top;

			.link {
				display: inline-block;
				height: 4.5em;
				padding: 0 1em;

				a {
					font-weight: 300;
					display: block;
					height: 100%;
					padding-top: .75em;
					line-height: 100%;
					vertical-align: middle;
					text-decoration: none;
					font-size: 1.25em;
					color: #fff;
					text-transform: uppercase;

					span {
						font-weight: 700;
					}
				}
			}

			.link.data {
				background: #f37532;
			}
			.link.locate {
				background: #94d60a;
			}
			.link.connect {
				background: #00b3e3;
			}
			.link.share {
				background: #fec524;
			}
		}
	}
}