// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#index {
	background: url('/assets/index_bg.jpg');
	background-size: cover;
	background-position: center;
}

#home {
	  position: relative;
	  vertical-align: baseline;
	  overflow: hidden;
	  padding: 5em 0 0 0;
	  width: 100%;
	  height: 100vh;
	  z-index: 1;

	  .home-text {
		position: absolute;
		bottom: 9em;
		left: 4em;

		h1 {
			font-size: 3.5em;
			font-weight: bold;
			color: #fff;
			text-shadow: 6px 6px 18px #000;
		}

		h2 {
			font-size: 1.5em;
			line-height: 1.5em;
			font-weight: normal;
			color: #fff;
			text-shadow: 6px 6px 18px #000;
		}
	}

	.scroll-down {
		position: absolute;
		width:40%;
		left: 50%;
		margin-left: -20%;
		bottom: 0;
		padding-bottom: 1em;
		text-align: center;

		span {
			font-size: 1.25em;
			color: #aaa;
			font-style: italic;
		}
	}
}

#data {
	position: relative;
	background: url('/assets/data_bg.jpg');
	background-size: cover;
	background-position: center;

	h1 {
		padding: 3em 0;
	}

}