<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="foot-links">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Sponsors</a></li>
					<li><a href="#">Technical Assistance</a></li>
					<li><a href="#">Join Listserv</a></li>
					<li><a href="#">DCHM Documentation</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>
					By using this service, you accept our Terms of Use. Please read them. Powered by Healthy Communities Institute. Copyright © 2015. All rights reserved.<br><br>This project was supported by Award Number UL1TR000075 from the NIH National Center for Advancing Translational Sciences. Its contents are solely the responsibilityof the authors and do not necessarily represent the official views of the National Center for Advancing Translational Sciences or the National Institutes of Health.
				</p>
			</div>
	</div>
</footer>


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>