<header id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="link-bar">
				<div class="container">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contribute</a></li>
						<li><a href="#">Toolkits</a></li>
						<li><a href="#">Newsletter Sign-Up</a></li>
					</ul>
					<span class="divider">|</span>
					<div class="search">
						<span>Search</span>
						<input type="text" />
						<i class="fa fa-search"></i>
					</div>
					<span class="divider">|</span>
					<div class="translate">
						<button type="button" class="translate-button">
								Select Language <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>